@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8;
    /* background-image: radial-gradient(); */
}
.main-container{
    margin: 0 auto;
    max-width: 375px;
    padding-bottom: 3rem;
}
.img-container img{
    border-radius: 50%;
    max-height: 120px;
    max-width: 120px;
    margin-top: 1.75rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-container{
    color: #121212;
}
.text-container h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 18px;
}
.salute{
    margin-top: 1rem;
}
.name{
    margin-top: 0.5rem;
}
.text-container p{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    margin-top: 0.5rem;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-image: linear-gradient(to right, #BCC699,#9CCEB0,#A0C3CB,#BDBBE0 );
    border: none; /* Remove borders */
    color: #121212; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 350px;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #121212;
    font-family: 'Chakra Petch', sans-serif;
}
  
  /* Darker background on mouse-over */
button:hover {
    box-shadow: 0px 0px 9px 3px #a8a8a8;
}
.links{
    font-weight: 600;
    margin-left: 1rem;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
span{
    margin-left: .7rem;
}
.design-links{
    color: #121212;
    font-family: 'Inter', sans-serif;
    margin-top: 1.5rem;
    font-size: 16px;
}